/anyTable.class
/evennum1to100.class
/factorialNumber.class
/oddnum1to100.class
/printSequence1to10.class
/reverseSequence10to1.class
/sumNnaturalODD.class
/sumNnaturaleven.class
/sumNnaturalnumber.class
/ProductOfDigits.class
